<hr/>
Name: <input type="text" id="add-name">
<br>
Type: <select id="add-type">
  <option value="float">Float</option>
  <option value="string">String</option>
  <option value="boolean">Boolean</option>
  <option value="integer">Integer</option>
</select>

<br>
Value: <input type="text" id="add-value">
<br>
<button class="btn" id="send-add">Send</button>
